@import url(font);
@import url(reset);

html {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis；
}

.el-row {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

.row-page {
  margin-top: 10px;
}